$font-stack:    'Nunito', sans-serif;

.home-page {
  display: flex;
  height: 91.5vh;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightgreen;
  font-family: $font-stack;
}

.stock-news {
  height: 28vh;
}

.investing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 66vh;
  background-color: hotpink;
}

.investing-graph {
  background-color: cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.investing-header {
  height: 25vh;
  display: flex;
  flex-direction: row;
  background-color: darkseagreen;
}

.investing-header-left {
  background-color: tan;
  padding-left: 22px;
}

.free-stock {
  padding-top: 35px;
  padding-right: 30px;
}

.graph-icons {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.graph-line {
  padding-bottom: 15px;
}

.portfolio-value {
  font-size: 2em;
  width: 70%;
}

.buying-power {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  height: 8vh;
  background-color: khaki;
  font-weight: 600;
}

.portfolio-delta {
  background-color: dimgray;
}

.buying-power-icon {
  padding-left: 5px;
}

.stock-news {
  font-weight: 500px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.news-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.article-heading {
  width: 80%;
  padding-top: 1px;
}

.view-article {
  padding-left: 10px;
  padding-top: 20px;
}

