.nav-bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 85%;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav-icon-button {
  border: none;
  background-color: white;
}
